<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 blog-border" id="sneak-blog-show">
			<h3 class="my-header"> <%= link_to blog.title, blog_path(blog), class: "header-link" %> <small> <%= blog.location %> </small> </h3>
			<% if blog.posts.last != nil %>
			<div class="container-fluid" id="sneak-post">
					<div>
						<h4 id="sneak-post-title"> <%= blog.posts.last.title%> <span style="float: right"><small>Most recent post was <%=blog.posts.last.created_at.strftime("%b %d") %></small> </span> </h4>
					</div>
					<p> <%= blog.posts.last.content.html_safe %> </p>
					<div class="fadeout"></div>
			</div>
			<% end %>
		</div>
	</div>
</div>