<div class="container-fluid">
	<div class="row">
		<div id="sidebar" class="col-xs-2">
			<h2 class="my-header"> <%= @blog.title %> </h2>
			<% if @blog.description != nil %>
			<p class="description"><%= @blog.description.html_safe %></p>
			<% end %>
			<div class="center">
				<%= image_tag @blog.user.avatar.url(:medium), :class => "img-circle avatar" %>
				<p class="center" style="text-align: center"> <%= @blog.user.username %> </p>
			</div>
			<% if current_user == @blog.user %>
				<%= link_to "New Post", new_post_path(:blogID => @blog), :class => "btn btn-primary", :method => :get %>
				<%= link_to "Edit Blog", edit_blog_path(@blog), :class => "btn btn-primary", :method => :get %>
				<%= link_to "Delete Blog", blog_path(@blog), :class => "btn btn-primary", :id => "danger", method: :delete, data:{confirm: "Are you sure you want to delete this blog?"}%>
			<% end %>
		</div>
		<div class="col-xs-10 col-xs-offset-2">
		  <% if @blog.posts.last != nil %>
			<% @blog.posts.reverse_each do |post| %>
				<%= render "posts/post", :post => post %>
			<% end %>
		  <% else %>
		  	<h1 style="text-align: center"><small> Post something... </small></h1>
		  <% end %>	
		</div>
</div>

