<div class="container-fluid">
	<div class="row">
		<div class="col-xs-10 comment">
			<div class="comment2">
				<div class="comment-header">
					<% if comment.user %>
						<span style="float: left" > <%= comment.user.username %> </span>
					<% else %>
						<span style="float: left" > <%= comment.name %> </span>
					<%end%>
					<span style="float: right">
					<%= time_ago_in_words(comment.created_at) %>
					<% if user_signed_in? and comment.user != nil%>
						<% if current_user.username == comment.user.username  %> 
							<%= link_to post_comment_path(post, comment.id), method: :delete, class: "btn btn-danger btn-sm", id: "post-delete", data:{confirm: "Are you sure you want to delete this comment?"} do %>
  							<span class="glyphicon glyphicon-trash"></span>
							<% end %> 
						<% end %>					
					<% end %>
					<% if user_signed_in? %>
						<% if current_user.id == comment.post.user_id and comment.user == nil %>
								<%= link_to post_comment_path(post, comment.id), method: :delete, class: "btn btn-danger btn-sm", id: "post-delete", data:{confirm: "Are you sure you want to delete this comment?"} do %>
	  							<span class="glyphicon glyphicon-trash"></span>
								<% end %>
						<% end %>
					<% end %>

					</span>
				</div>
				<div class="comment-body">
					<br>
					<p><%= comment.content.html_safe %></p>
				</div>
			</div>
		</div>
	</div>
</div>