<div class="container-fluid">
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
			<div class="center">
				<h1 class="my-header" stlye="text-align: center" id="results-header"> Results for <%= @params %> </h1>
			</div>
			<% if @posts.empty? and @blogs.empty? %>
			<div class="center">
				<br>
				<p stlye="text-align:center"> There doesn't seem to be anything here... </p>
			</div>
			<% end %>
			<% if !@posts.empty? %>
			<h3 class="center"> Posts <small>with "<%= @params %>"</small> </h3>
			<div class="result-container">
					<% @posts.each do |post|%>
						<div>
							<%= render "posts/post2", :post => post %>
						</div>
					<% end %>
			<% end %>
			</div>
			<br>
			<h3 class= "center"> Blogs <small> with "<%= @params%>" </small></h3>
			<div class="result-container">
			<% if !@blogs.empty? %>
					<% @blogs.each do |blog| %>
						<div>
							<%= render "blogs/blog2", :blog => blog %>
						</div>
					<% end %>
			<% end %>
			</div>
		</div>
	</div>
</div>

