<div class="container-fluid">
	<div class="row">
			<div class ="col-xs-2" id="in-post-sidebar">
			<% user = User.find(post.user_id) %>
			<% if user == current_user %>
				<h4> <%= link_to user.username, root_path, class: "header-link" %> </h4>
				<%= link_to image_tag(user.avatar.url(:thumb), :class => "img-circle avatar img-discover center"), root_path %>
			<% else %>
				<h4> <%= link_to user.username, user_path(user), class: "header-link" %> </h4>
				<%= link_to image_tag(user.avatar.url(:thumb), :class => "img-circle avatar img-discover center"), user_path(user) %>
			<% end %>
			</div>
			<div class="col-xs-10">
				<div class = "recent-activity-size">
					<span> <h4 class="my-header" style="float:left"> <%= link_to post.title, {controller: "posts", action: "show", id: post.id}, :class => "header-link" %> <small> <%= post.location %> </small> </h4>
					 <h5 style="float:right" id="fix-this"> <small> posted <%= time_ago_in_words(post.created_at) %> ago </small> </h5> </span>
				</div>
				<div class="col-xs-12 post-result-body">
					<%= post.content.html_safe %>
					<div class="fadeout"></div>
				</div>
			</div>
	</div>
</div>